<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidato</title>
</head>

<body>
    <a href=" {% url 'candidatos_dashboard' %}">Voltar</a>
    <br></br>
    <h1>Dados de {{ candidato.nome }}</h1>

    <br></br>
    <p>Sobrenome: <b>{{ candidato.sobrenome }}</b></p>
    <p>Data de Nascimento: <b>{{ candidato.data_nascimento }}</b></p>
    <p>Gênero: <b>{{ candidato.get_genero_display }}</b></p>
    <p>Contato: <b>{{ candidato.email }}</b>, <b>{{ candidato.telefone }}</b></p>
    <p>Escolaridade: <b>{{ candidato.get_escolaridade_display }}</b></p>
    <p>Se escreveu na vaga de: <b>{{ candidato.vaga }}</b></p>
</body>

</html>