<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Candidatos</title>
</head>

<body>
    <a href=" {% url 'dashboard' %}">Voltar</a>
    <br></br>
    <h1>Dashboard Candidatos</h1>

    <table border="1" cellpadding="5" cellspacing="3">
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Gênero</th>
            <th>Vaga</th>
            <th></th>
        </tr>
        {% for candidato in candidatos %}
        <tr>
            <td>{{ candidato.nome }}</td>
            <td>{{ candidato.sobrenome }}</td>
            <td>{{ candidato.get_genero_display }}</td>
            <td>{{ candidato.vaga }}</td>
            <td><a href="{% url 'dados_candidato_por_id' candidato.id %}">ver candidato</a></td>
        </tr>
        {% endfor %}
    </table>

    <br></br>
    <a href=" {% url 'cadastrar_candidato' %}">Cadastrar candidato</a>
</body>

</html>